<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @bulletins.each do |doc| %>
      <tr>
        <td><%= doc.name %></td>
        <td><%= link_to "Download Bulletin", doc.attachment_url %></td>
        <td><%= button_to "Delete",  doc, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{bulletin.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>