<tr>
<td><%= bulletin.name %></td>
<td><%= link_to "Download Bulletin", bulletin.attachment_url %></td>
<td><%= button_to "Delete",  bulletin, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{bulletin.name}?" %></td>
</tr>