<div class="center hero-unit">
  <h1>Welcome to Grayson</h1>
  <h1>Baptist Church!</h1>

  <h2>
    This is the home page for the new GBC website. See below for the latest
    news!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="align-right">
  <% if NewsPost.any? %>
    <h3>Latest News</h3>
    <ol class="news_posts">
      <%= render @news_posts %>
    </ol>
    <%= will_paginate @news_posts %>
  <% end %>
</div>